# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

# marker zero for install script

{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email youremail@example.com 
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    auto_https disable_certs
}

# marker two for install script

https://cloud.example.com:443 {
    reverse_proxy localhost:11000
}

# marker three for install script

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
